

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.profile {
	margin-left: auto ;
  	margin-right: auto ;
}

.pumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #ffffff;
  max-width: 500px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}

.piccolo {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eeeeee;
  max-width: 500px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}

.navbar-inner {
  background-color: #5D555D; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}









