

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.index{

	background-color: #2C3E50;

}
.profile {
	margin-left: auto ;
  	margin-right: auto ;
}

.elements{
	padding:30px;
}

.containotron {
  padding: 50px;
  margin-top:800px;
  margin:auto;
  color: inherit;
  color:#ffffff;
  text-align: center;
  max-height: 500px;

}

.contain-subs {
  margin:auto;
  color:#ffffff;
  text-align: center;

}

.pumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #ffffff;
  max-width: 500px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}

.piccolo {
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: inherit;
  background-color: #eeeeee;
  max-width: 500px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}

.navbar-inner {
  background-color: #5D555D !important;  /* background color will be black for all browsers */
  background-image: none !important;
  background-repeat: no-repeat !important;
  filter: none !important;
}

.form-custom {
  padding: 30px;
  margin-top: 30px;
  color: inherit;
  background-color: #eeeeee;
  max-width: 500px;
  margin-left: auto ;
  margin-right: auto ;
}

.form-front {
  padding: 30px;
  margin-top: 30px;
  color: inherit;
  max-width: 500px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;

}


 -----------------------------

body {
  color: #34495E;
  font-size: 17px;
  background-image: url(http://subtlepatterns.com/patterns/kindajean.png);
}
a {
  color: #1abc9c;
}
a: hover {
  color: #2fe2bf;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 10px 0;
}
h1 {
  font-size: 180%;
}
h2 {
  font-size: 150%;
}
h3 {
  color: #95A5A6;
}
.container {
  margin: 5px auto;
  width: 80%;
}
.row {
  margin: 5px 0;
  padding: 5px;
}


.flat-butt {
  display: inline-block;
  margin: 0 5px;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-size: 13.5px;
  padding: 8px 20px;
  border: 0;
  background: #34495E;
  color: #FFF;
  cursor: pointer;
  outline: 0;
}
.flat-butt:hover {
  background: #005580;
}
.flat-primary-butt {
  background: #1abc9c;
}
.flat-primary-butt:hover {
  background: #2fe2bf;
}
.flat-info-butt {
  background: #3498db;
  color:#ffffff;
}
.flat-info-butt:hover {
  background: #5dade2;
  color:#ffffff;
}
.flat-danger-butt {
  background: #e74c3c;
}
.flat-danger-butt:hover {
  background: #ec7063;
}
.flat-border-butt {
  padding: 8px 20px;
  border: 4px solid #2C3E50;
}
.flat-border-butt:hover {
  border: 4px solid #2C3E50;
}
.flat-primary-border-butt {
  border-color: #16A085;
}
.flat-primary-border-butt:hover {
  border-color: #27AE60;
}
.flat-info-border-butt {
  border-color: #2980B9;
}
.flat-info-border-butt:hover {
  border-color: #2980B9;
}
.flat-danger-border-butt {
  border-color: #C0392B;
}
.flat-danger-border-butt:hover {
  border-color: #C0392B;
}
.flat-double-butt {
  padding: 8px 20px;
  border: 3px solid #FFF;
  box-shadow: #34495E 0px 0px 0px 3px;
}
.flat-double-butt:hover {
  box-shadow: #005580 0px 0px 0px 3px;
}
.flat-primary-double-butt {
  box-shadow: #1abc9c 0px 0px 0px 3px;
}
.flat-primary-double-butt:hover {
  box-shadow: #2fe2bf 0px 0px 0px 3px;
}
.flat-info-double-butt {
  box-shadow: #3498db 0px 0px 0px 3px;
}
.flat-info-double-butt:hover {
  box-shadow: #5dade2 0px 0px 0px 3px;
}
.flat-danger-double-butt {
  box-shadow: #e74c3c 0px 0px 0px 3px;
}
.flat-danger-double-butt:hover {
  box-shadow: #ec7063 0px 0px 0px 3px;
}
.flat-underline-butt {
  text-decoration: underline;
}
.flat-grad-butt {
  background-image: linear-gradient(#34495E 50%, #2C3E50 50%);
}
.flat-primary-grad-butt {
  background-image: linear-gradient(#1ABC9C 50%, #16A085 50%);
}
.flat-info-grad-butt {
  background-image: linear-gradient(#3498DB 50%, #2980B9 50%);
}
.flat-danger-grad-butt {
  background-image: linear-gradient(#E74C3C 50%, #C0392B 50%);
}
.flat-inner-butt {
  padding: 11px 0px;
  box-shadow: inset #2C3E50 -3px -3px 0px;
}
.flat-primary-inner-butt {
  background: #1ABC9C;
  box-shadow: inset #16A085 -3px -3px 0px;
}
.flat-info-inner-butt {
  box-shadow: inset #2980B9 -3px -3px 0px;
}
.flat-danger-inner-butt {
  box-shadow: inset #C0392B -3px -3px 0px;
}
.flat-outer-butt {
  padding: 11px 0px;
  box-shadow: #BDC3C7 2px 2px 0px;
}



-----------------------------


.or-spacer .mask {
  overflow: hidden;
  height: 20px;
}
.or-spacer .mask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px black;
}

.or-spacer-vertical {
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
  width: 100px;
  position: relative;
}
.or-spacer-vertical .mask {
  overflow: hidden;
  width: 20px;
  height: 200px;
}
.or-spacer-vertical.left .mask:after {
  content: '';
  display: block;
  margin-left: -20px;
  width: 20px;
  height: 100%;
  border-radius: 12px / 125px;
  box-shadow: 0 0 8px black;
}


@font-face
{
font-family: Sofiares;
src: url(/Bootstrap/fonts/Sofia-Regular.otf);
}