{% extends "base.html" %}

{% block title %}Piccolo {% endblock %}
{% block main %}
	
	<div class="pumbotron">
	<div class="profile">
		<h3>Upload a pic for {{ date.day }}/{{ date.month }}/{{ date.year }} </h3>
	</div>
	<hr>	
	<div >	
		{% if form.non_field_errors %}
				<div class="alert alert-danger">{{ form.non_field_errors }}</div>
		{% endif %}
		<form action="{% url 'newPost' %}" method="POST" enctype="multipart/form-data" >

			<p><input type="file" name="image"></p>
			<p><input type="text" name="text"></p>
			<p><button class ="flat-butt flat-primary-butt" type="submit" name="submit">Upload</button></p>
			{% csrf_token %}

		</form>
	</div>
	<p style="color:#95A5A6">Only one post per day is allowed.</p>
</div>
{% endblock %}