<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/static/bootstrap/css/main.css">
        <link href="css/flat-ui.css" rel="stylesheet">
        <script src="/static/bootstrap/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body id="wrap main">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img width="80px" src="/static/bootstrap/logo-s.png" ></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          {% if request.user.is_authenticated %}
          <p class="navbar-form navbar-right" style="color:white">Hey <a href="{% url 'profile' %}">{{ request.user.username }}</a> 
          <a href="{% url 'newPost' %}"><button type="submit" class="flat-butt flat-primary-butt">Add post</button></a> |
          
          <a href="{% url 'logout' %}">Logout</a></p>
          
          {% else %}
            <div class="navbar-form navbar-right">
            <a href="{% url 'login' %}"><button class="flat-butt flat-primary-butt"> Sign in</button></a>
            </div>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    

    <div class="container">
      <!-- Example row of columns -->
      <h1><h1></h1>{{ request.session.avatar_url }} </h1>
      {% block main %}{% endblock %}
      <hr>

      <footer class="footer">
        <p>Happiness isn't good enough, I demand euphoria!! &copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
