{% extends "base.html" %}

{% block title %}Piccolo {% endblock %}
{% block main %}
<div class="pumbotron">
	<div class="profile">
		<form class="form-horizontal form-custom " role="form" action="{% url 'edit' %}" method="POST" enctype="multipart/form-data" >
		

		{{ form.non_field_errors }}
			
			<p><img  width="120" height="120" class="img-circle " src="/media/{{ request.user.profile.pic_file }}" / ></p>
            <p><input class="form-control" type="file" name="profile_pic">{{ form.errors.profile_pic }}</p>
            <h1 class="profile">@{{ request.user.username}} </h1>
            <h3>Bio</h3>
            <p><textarea class="form-control" placeholder="{{ request.user.profile.bio }}" name="bio"></textarea>{{ form.errors.bio }}</p>
            
            {% csrf_token %}
            <p><button class="flat-butt flat-primary-butt" type="submit">Submit Changes &rarr;</button></p>
    </form>
			
			
			
	
		
			
			
			
			
			
		</form>

		
	</div>
	<hr>

</div>

{% endblock %}