<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/static/bootstrap/css/main.css">
        <link href="css/flat-ui.css" rel="stylesheet">
        <script src="/static/bootstrap/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body class="index">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    

    <!-- Main jumbotron for a primary marketing message or call to action -->
    

    <div class="container">
      <!-- Example row of columns -->
    <div class="form-front">
  		<img class="elements" src="/static/bootstrap/logo.png">
        <form class="form-horizontal  " role="form" action="{% url 'login' %}" method="POST">
		<div class="form-group">
			    	<span class="input-icon fui-check-inverted"></span>
				    <div class="col-sm-offset-2 col-sm-8">
					      <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Enter your username">
					      {{ form.errors.username }}
					</div>
		</div>
		<div class="form-group">
				
				<div class=" col-sm-offset-2 col-sm-8">
				<input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Enter Password">{{ form.errors.password }}
				</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-8">
			<button type="submit" class="btn flat-info-butt">Sign in</button>
			</div>
		</div>
		{% csrf_token %}
	</form>
    <p style="color:white;">Not a member! <a href="{% url 'signup' %}">Sign up</a></p>
    </div>


    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
