{% extends "base.html" %}

{% block title %}Piccolo {% endblock %}
{% block main %}
<div class="pumbotron"> 

	{{ form.non_field_errors }}
	<form class="form-horizontal form-custom " role="form" action="{% url 'login' %}" method="POST">
		<div class="form-group">
			    <label for="inputUsername" class="col-sm-4 control-label">Username</label>
				    <div class="col-sm-8">
					      <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username">
					      {{ form.errors.username }}
					</div>
		</div>
		<div class="form-group">
				<label for="inputPassword3" class="col-sm-4 control-label">Password</label>
				<div class="col-sm-8">
				<input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">{{ form.errors.password }}
				</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-10">
			<button type="submit" class="btn flat-info-butt"">Sign in</button>
			</div>
		</div>
		{% csrf_token %}
	</form>
	
</div>
{% endblock %}