{% extends "base.html" %}

{% block title %}Piccolo {% endblock %}
{% block main %}

<div class="pumbotron">
	<div class="profile">
		<img class="img-circle" width="120" height="120" src="/media/{{ request.user.profile.pic_file }}" / >
		<h1 class="profile">@{{ request.user.username}} </h1>
	</div>
	<hr>	
	<div >
		<h3>Bio</h3>
		<p>{{ request.user.profile.bio }}</p>
	</div>

    <a href="{% url 'edit' %}"><button class="btn btn-sm">edit Profile</button></a>

</div>

{% endblock %}