{% extends "base.html" %}

{% block title %}Piccolo {% endblock %}
{% block main %}
<div class="pumbotron"> 
	<h3>Signup</h3>
	<form class="form-horizontal form-custom " role="form" action="{% url 'signup' %}" method="POST" >
		

		{{ form.non_field_errors }}
			<p><input class="form-control" name="username" type="text" placeholder="Username" />{{ form.errors.username }}</p>
            <p><input  class="form-control" name="email" type="email" placeholder="Email address" />{{ form.errors.email }}</p>
            <p><input class="form-control" name="password" type="password" placeholder="Password" />{{ form.errors.password }}</p>
            <p><input class="form-control" name="password2" type="password" placeholder="Verify password" />{{ form.errors.password2 }}</p>
            
            {% csrf_token %}
            <p><button class="flat-butt flat-primary-butt" type="submit">Sign Up &rarr;</button></p>
    </form>


{% endblock %}