{% extends "base.html" %}

{% block title %}Piccolo {% endblock %}
{% block main %}
    
    	{% for object in piccolos %}
    	<div class="piccolo">
    		<div class="profile"> 
    			<h3>{{ object.pub_date|date:"D, d M Y"}} </h3>
    			<img class="img-responsive" src="/media/{{ object.pic_url }}">
    			<h5 style="color:#2C3E50">{{ object.text }}</h5>

    		</div>
    		<hr>	
    	
    	</div>
    	{% endfor %}
    
        {% if not piccolos %}
        <div class="piccolo">
            <h1>Nothing to see here!</h1>
            <h2>Please click the button below and create an all new post</h2>
            <a href="{% url 'newPost' %}"><button class="btn flat-info-butt">Create</button></a>
        </div>
        {% endif %}

	<div class=" profile ">
    <ul class="step-links pagination">
        {% if piccolos.has_previous %}
            <li ><a href="?page={{ piccolos.previous_page_number }}">&laquo;</a></l1>
        {% endif %}

           <li ><a href="#">Page {{ piccolos.number }} of {{ piccolos.paginator.num_pages }}.</a></l1>

        {% if piccolos.has_next %}
           <li > <a href="?page={{ piccolos.next_page_number }}">&raquo;</a></l1>
        {% endif %}
    </ul>
	</div>
	
{% endblock %}